.markdown {
  @apply text-base leading-relaxed font-sans text-gray-700;

  p,
  ul,
  ol {
    @apply my-2 leading-relaxed;
  }

  a {
    @apply italic text-blue-500 hover:underline;
  }

  strong {
    @apply font-semibold;
  }

  img {
    @apply mb-6 rounded-lg;
  }

  ul {
    @apply list-disc list-inside;
  }

  li ul {
    @apply ml-6;
  }

  li li {
    list-style-type: circle;
  }

  ul p {
    @apply inline-block;
  }

  p code,
  li code {
    @apply text-xs bg-gray-100 text-blue-400 font-thin p-1 rounded m-1;
  }

  pre {
    position: relative;
    overflow-x: auto;

    @apply mb-3 rounded-lg sm:rounded-xl shadow-xl;

    code {
      position: relative;
      display: block;
      padding: 40px 14px 15px 10px;
      counter-reset: step;
      counter-increment: step 0;

      @apply text-sm;

      :global(.line)::before {
        content: counter(step);
        counter-increment: step;

        @apply w-4 mr-4 inline-block text-right text-gray-500 dark:text-gray-600;
      }
    }
  }

  pre::after {
    background: #142939;
    content: ' ';
    height: 32px;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 2;

    @apply rounded-t-xl border-b border-white border-opacity-10;
  }

  pre::before {
    background: #fc625d;
    border-radius: 50%;
    box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
    content: ' ';
    height: 12px;
    left: 12px;
    top: 9px;
    position: absolute;
    width: 12px;
    z-index: 9;
  }

  blockquote {
    border-left-width: 6px;
    border-radius: 6px;

    @apply text-sm bg-gray-100 py-4 px-8 border-blue-500 mb-6 text-gray-500 font-light break-all;

    code {
      @apply bg-gray-200;
    }

    a {
      @apply text-blue-400;
    }

    strong {
      @apply italic;
    }
  }

  h2,
  h3,
  h4 {
    @apply font-medium;
  }

  h2 {
    padding-bottom: 4px;
    border-bottom: 1px solid #eaecef;

    @apply text-2xl mt-12 mb-4 leading-snug divide-y divide-gray-400;
  }

  h3 {
    @apply text-xl mt-8 mb-4 leading-snug;
  }

  h4 {
    @apply text-lg my-4 leading-snug;
  }

  nav:first-child {
    display: none;
  }
}
